<div class="hero-unit">
  <h2>User Properties</h2>
  <a href="{{{ editUserPath params.id }}}" class="btn pull-right">Edit this user</a>
</div>

<div class="row list-item">
  <div class="span4">
    <h3>Username</h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i>{{ user.username}}</h3>
  </div>
</div>

<div class="row list-item">
  <div class="span4">
    <h3>email</h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i>{{ user.email}}</h3>
  </div>
</div>

<div class="row list-item">
  <div class="span4">
    <h3>Name</h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i>{{ user.givenName}}</h3>
  </div>
</div>

<div class="row list-item">
  <div class="span4">
    <h3>Surname</h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i>{{ user.familyName}}</h3>
  </div>
</div>

